<div>
    <h1>CRUD NodeJS</h1>
</div>
<div class="buttons">
    <a href="inserir">create</a>
    <a href="select">read</a>
    <!--<a href="atualizar">update</a>
    <a href="apagar">delete</a>-->
</div>