<form name="form1" action="/controllerForm" method="POST">
    <input type="text" name="name" id="name" placeholder="nome">
    <input type="text" name="idade" id="idade" placeholder="idade">
    <button name="btnSubmit" id="btnSubmit" value="Add" type="submit">Enviar</button>
</form>