<form name="form1" action="/controllerUpdate" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="name" id="name" placeholder="nome" value="{{nome}}">
    <input type="text" name="idade" id="idade" placeholder="idade" value="{{idade}}">
    <button name="btnSubmit" id="btnSubmit" value="Add" type="submit">Enviar</button>
</form>